.JoinGameForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 24px;
  padding-inline: 24px;

  .JoinGameForm-title {
    margin-block-end: 8px;
  }

  .JoinGameForm-button {
    align-self: flex-end;
  }
}
