.ConfirmModal {
  position: relative;
  padding-block: 32px 16px;
  padding-inline: 24px;

  &::before {
    content: "";

    position: absolute;
    inset-block: 0 auto;
    inset-inline: 0;

    display: block;
    block-size: 8px;

    background-color: var(--color-info);
  }

  .ConfirmModal-main {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .ConfirmModal-icon {
    flex: 0 0 64px;
    inline-size: 64px;
    block-size: 64px;

    color: var(--color-info);
  }

  .ConfirmModal-title {
    margin-block-end: 12px;
    font-size: 21px;
  }

  .ConfirmModal-text {
    margin-block: 0;
    margin-inline: 0;
  }

  .ConfirmModal-actions {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: flex-end;
    margin-block: 24px 0;
    margin-inline: 0;
    padding-block: 16px 0;
    padding-inline: 0;
    border-block-start: 1px solid var(--color-grey-85);

    list-style-type: none;
  }
}

.ConfirmModal--warning {
  &::before {
    background-color: var(--color-warning);
  }

  .ConfirmModal-icon {
    color: var(--color-warning);
  }
}

.ConfirmModal--danger {
  &::before {
    background-color: var(--color-danger);
  }

  .ConfirmModal-icon {
    color: var(--color-danger);
  }
}
